.body{
	margin: 0;
	padding: 0;
	
	  font-family: 'Pacifico', sans-serif;

}
header {
    box-sizing: border-box;
    
    position: absolute;
   
    height: 100vh;
    width: 100%;
    background: #8179E8 url(https://klv-oboi.kz/img/gallery/23/thumbs/thumb_l_2612.jpg) no-repeat center top / cover;


}
.container {
    font-weight: 800;
    letter-spacing: 0.3em;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 0;
    top: 0;
   
}
h1{
	color: #F7F415;
	font-size: 80px;
	position: absolute;
	top: 25%;
	left: 5%;
	/*transform: rotate(-40deg);*/
	
}
.sun{
	position:absolute;
	width: 200px;	
	height: 200px;	
	background: #EEF114 url(img/Sun.png)no-repeat center /contain ;
	border-radius: 50%;
	border: 2px solid orange;
	box-shadow: 0 0 8px 8px  orange ;

}	




.sun__orbit{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border:5px dashed #BBBACB;
	position: absolute;
	
	animation: spin 20s linear infinite;	
}
.sun__orbit2{
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border:5px dashed #BBBACB;
	position: absolute;
	animation: spin 36s linear infinite;	
}

.sun__orbit1__planet1{
	position: absolute;
	width: 100px;
	height: 100px;
	border-right: 50%;
	background: url(img/evgeniya.png)
	no-repeat center /contain;
	left: 150px;
	top: -50px;
}

.sun__orbit1__planet2{
	position: absolute;
	width: 100px;
	height: 100px;
	background:  url(img/evgen.png)
	no-repeat center /contain;
	left: 150px;
	top: 350px;
}



.sun__orbit2__planet1{
	position: relative;
	width: 100px;
	height: 100px;
	background:  url(img/ira.png)
	 center /contain;;
	left: 250px;
	top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sun__orbit2__planet2{
	position: absolute;
	width: 100px;
	height: 100px;
	background: url(img/babaNadya.png)center/contain;
	left: 250px;
	top: 550px;
	animation: spin 36s linear reverse infinite;
}

.planet1__orbit{
	position: absolute;
	width: 160px;
	height: 160px;
	border: 4px dotted #bbb;
	border-radius:50%;
	animation: spin linear 7s infinite;
}

.sputnik{
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(img/petya.png)center/contain;
	top: -25px;
	left: 60px;	
}


.comet{
	position: absolute;
	top: 20%;
	left: 76%;
	width: 350px;
	height: 200px;
	background: url(img/anton.png)no-repeat center/contain;
	animation: comet 12s linear 3;
	
}

.sun__orbit2__planet2:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	
}




@keyframes spin{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg);
	}
}

@keyframes comet{
	0%{
		

		transform: scale(0.8);
	}
	50%{
		
		transform: scale(1.2);
		
	}
	100%{
		transform: scale(0.8);
		left: -200px;
	}	
}

